<form action="javascript:void(0)" method="POST">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Register</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-input name="input_username" type="text" placeholder="Username"></ion-input>
                <ion-input name="input_password" type="password" placeholder="Password"></ion-input>
                <ion-input name="input_repeat_password" type="password" placeholder="Repeat Password"></ion-input>
                <ion-input name="input_email" type="email" placeholder="Email"></ion-input>

                <ion-button type="button" name="btn_cancel">Cancel</ion-button>
                <ion-button type="submit" name="btn_submit">Register</ion-button>

            </ion-card-content>
        </ion-card>
    </form>