.button-float {
    background: #ef473a !important;
    color: white !important;
    z-index: 99 !important;
    position: absolute !important;
    bottom: 10px !important;
    right: 10px !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    transform: translate3d(0, 0, 0) !important;
    transition: 0.2s linear !important;
    transition-property: transform, all !important;
    width: 40px;
    height: 40px;
}

.fit-icon {
    width: 2em;
    height: 2em;
}