<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form action="" method="GET">
        <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" id="input_username" name="input_username" placeholder="Username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" id="input_password" name="input_password" placeholder="Password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-button type="button" id="btn_cancel" name="btn_cancel">Cancel</ion-button>
            <ion-button type="submit" id="btn_login" name="btn_login" right>Login</ion-button>
        </ion-item>

    </form>
</ion-content>