<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab Three
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form action="javascript:void(0)" method="GET">
        <ion-card>
            <ion-input type="text" placeholder="Username"></ion-input>
            <ion-input type="password" placeholder="Password"></ion-input>
            <ion-button type="submit">Login</ion-button>
        </ion-card>
    </form>

    <form action="javascript:void(0)" method="POST">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Register</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-input type="text" placeholder="Username"></ion-input>
            </ion-card-content>
        </ion-card>
    </form>

</ion-content>