<ion-header>
  <ion-toolbar>
    <ion-title color="favorite">Add New Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label>
                    Which type of item do you want to add?
                </ion-label>
                <ion-button (click)="addTypeMovie()">Movie</ion-button>
                <ion-button (click)="addTypeSeries()">Series</ion-button>
                <ion-button (click)="addTypeBook()">Book</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
