<ion-header>
    <ion-toolbar>
        <ion-title>
            I Watch
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        The world is your oyster.
        <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will
            be your guide.</p>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col col-md="4">
                <ion-button href="/login">LOGIN</ion-button>
                <ion-button href="/register">REGISTER</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>